
/* we need this to make room for the top bar */
body {
    padding-top: 40px;
    }

    /* wrap the whole thing up, nice and tight */
    #topbar {
    background: #FF0203;
    background: -moz-linear-gradient(#FF0203, #000);
    background: -ms-linear-gradient(#FF0203, #000);
    background: -o-linear-gradient(#FF0203, #000);
    background: -webkit-linear-gradient(#FF0203);
    background: linear-gradient(#FF0203, #000);
    right: 0;
    overflow: visible;
    padding-left: 15px;
    position: fixed;
    top: 0;
    z-index: 10000;
    }

    /* where the real work happens */
    #topbar ul {
    font: bold 16px Verdana, Arial;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    #topbar ul li {
    display: block;
    float: left;
    position: relative;
    }

    #topbar li ul { display: none; }
    #topbar ul li a {
    background: #FF0203;
    background: -moz-linear-gradient(#FF0203, #000);
    background: -ms-linear-gradient(#FF0203, #000);
    background: -o-linear-gradient(#FF0203, #000);
    background: -webkit-linear-gradient(#FF0203, #000);
    background: linear-gradient(#FF0203, #000);
    color: #fff;
    display: block;
    margin-left: 1px;
    padding: 8px 15px 9px 15px;
    text-decoration: none;
    white-space: nowrap;
    }

    #topbar ul li a:hover {
    background: #000000;
    }

    #topbar li:hover ul {
    display: block;
    position: absolute;
    }

    #topbar li:hover li {
    border-top: 1px solid #fff;
    float: none;
    font-size: 14px;
    }

    #topbar li:hover a { background: #4F6752; }
    #topbar li:hover li a:hover { background: #674F61; }
